.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #09327f, #06183b);
    color: white;
  }
  
  .login-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .btn1{
    text-align: center;
  }
  .btn{
    margin-left:5px ;
  }
  
  .login-form {
    flex: 1;
    padding: 20px;
    text-align: center;

  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form div {
    margin-bottom: 10px;
  }
  
  .login-form label {
    margin-bottom: 5px;
  }
  
  .login-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    padding: 10px;
    background-color: #09327f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #06183b;
  }
  
  .login-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  